openssl/
boost/
build-Debug/
build-Release/
dcmtk/
fmjpeg2koj/
libiconv
libiconv-cmake
openjpeg/
wxWidgets/
zlib/
.DS_Store
installers/wix/.vs
installers/wix/bin
installers/wix/obj
installers/wix/Product.wxs
installers/deb/control