[Desktop Entry]
Name=Dovo
StartupWMClass=dovo
Comment=DICOM CD Importer
GenericName=DICOM
Exec=dovo
Icon=com.draconpern.dovo
Type=Application
Categories=Utility
