<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="dovo" Language="1033" Version="1.0.16.0" Manufacturer="FrontMotion" UpgradeCode="6AB99C1C-FB94-4D60-942E-BD5D5A298B36">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

		<MajorUpgrade AllowDowngrades="yes" />
		<MediaTemplate EmbedCab="yes"/>

		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch dovo" />
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
		<Property Id="WixShellExecTarget" Value="[#dovo.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

		<UI>
			<UIRef Id="WixUI_Mondo" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="Dovo" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Dovo"/>
			</Directory>
		</Directory>

		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
			<Component Id="dovo.exe" Guid="79B9B9F7-EFD2-4FE0-898B-593343C9C764" Win64="yes">
				<File Id="dovo.exe" Source="..\..\build-Release\Release\dovo.exe" KeyPath="yes" Checksum="yes"/>
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="CEF098CC-4766-4738-A225-0EBD7E82A8FA">
				<Shortcut Id="ApplicationStartMenuShortcut"
					Name="Dovo"
					Description="Dovo DICOM import and send"
					Target="[#dovo.exe]"
					WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
		   </Component>
		</DirectoryRef>

		<Feature Id="MainApplication" Title="Dovo" Level="1">
			<ComponentRef Id="dovo.exe" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

	</Product>

</Wix>
