<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="dovo" Language="1033" Version="1.0.15.0" Manufacturer="FrontMotion" UpgradeCode="6AB99C1C-FB94-4D60-942E-BD5D5A298B36">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="dovo" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch dovo" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>    
    <Property Id="WixShellExecTarget" Value="[MyURL]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <UI>
      <UIRef Id="WixUI_Mondo" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
        <Directory Id="FrontMotion" Name="FrontMotion">
				  <Directory Id="INSTALLFOLDER" Name="dovo" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="79B9B9F7-EFD2-4FE0-898B-593343C9C764" Win64="yes">
        <File Id="dovoexe" Source="..\build-Release\Release\dovo.exe" KeyPath="yes" />        
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
